@inherits LayoutComponentBase

<PageTitle>TournamentManager.Web</PageTitle>

<div class="flex">
    <main class="flex flex-col flex-grow">
        <div class="bg-slate-700 p-4 text-right shadow-lg">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="p-4">
            @Body
        </article>
    </main>
</div>
